# TODO

In [4]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점
score = int(input("What's the score? : "))
if score < 0 or score > 100:
    print(f"{score} is not")
elif score >= 91:
    print("A")
elif score >= 81:
    print("B")
elif score >= 71:
    print("C")
elif score >= 61:
    print("D")
else:
    print("E")

What's the score? : 78
C

In [6]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 
# 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.
id = input('write your ID: ')
if len(id) >= 5:
    print('사용 할 수 있습니다.')
else:
    print('사용 할 수 없는 아이디입니다.')

write your ID: sdkasdkj
사용 할 수 있습니다.

In [5]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 
# 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.
city = input("도시 명 : ")
if city == '서울':
    print(f'{city} 특별시')
elif city in ['인천', '부산', '광주', '대구' '대전', '울산']:
    print(f'{city} 광역시')
else:
    print('특별시나 광역시가 아닙니다.')

도시 명 : 신라
특별시나 광역시가 아닙니다.

In [124]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
k = 0
for value in jumsu:
    k += value
    
jumsu_avg = k / len(jumsu)
print(result)
print(len(jumsu))

89.0
10

In [23]:
print(round(result, 2))

89.0

In [119]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)

k = 0
for value in jumsu:
    k += 1
    if value >= result:
        
        print(f'{k}- Pass')
    else:
        
        print(f'{k}- Fail')

1- Pass
2- Pass
3- Pass
4- Fail
5- Fail
6- Pass
7- Fail
8- Pass
9- Pass
10- Fail

In [136]:
result2 = []
for index, value in enumerate(jumsu):
    print(f'{index} - {"Pass" if value >= jumsu_avg else "Fail"}')
    
    a = f'{index} - {"Pass" if value >= jumsu_avg else "Fail"}'
    result2.append(a)
print(result2)

0 - Pass
1 - Pass
2 - Pass
3 - Fail
4 - Fail
5 - Pass
6 - Fail
7 - Pass
8 - Pass
9 - Fail
['0 - Pass', '1 - Pass', '2 - Pass', '3 - Fail', '4 - Fail', '5 - Pass', '6 - Fail', '7 - Pass', '8 - Pass', '9 - Fail']

In [63]:
#조건연산자 - 복습
result2 = []
jumsu_avg = result / len(jumsu)
for index, value in enumerate(jumsu):
    print(f'{index} - {"Pass" if value >= jumsu_avg else "Fail"}')
    a = "Pass" if value >= jumsu_avg else "Fail"
    result2.append(a)

0 - Pass
1 - Pass
2 - Pass
3 - Pass
4 - Pass
5 - Pass
6 - Pass
7 - Pass
8 - Pass
9 - Pass

In [47]:
#결과를 저장
["Pass" if value >= jumsu_avg else "Fail" for k in jumsu]

['Pass',
 'Pass',
 'Pass',
 'Pass',
 'Pass',
 'Pass',
 'Pass',
 'Pass',
 'Pass',
 'Pass']

In [ ]:
for index, value in enumerate(jumsu):
    print(f'{index} - {"Pass" if value >= jumsu_avg else "Fail"}')

In [48]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
max_value =  jumsu[0] # 최대값을 저장할 변수. 각각의 원소들을 이 변수 값과 비교해서 큰 값으로 이 변수값을 변경.
for value in jumsu:
    if value > max_value:
        max_value = value
        
print('최대값: ', max_value)

최대값:  95

In [58]:
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
k = 0
for i in jumsu:
    if k < i:
        k = i
    
print(k)

95

In [54]:
#최대값
max(jumsu), min(jumsu)

(95, 55)

In [ ]:
jumsu.sort()
jumsu[-1]

In [59]:
#(7) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀", "토끼"]
for value in str_list:
    if value not in ["쥐", "토끼"]:
        print(value)

print("-"*50)      

for value in str_list:   #컨티뉴 복습
    if value in ["쥐", "토끼"]:
        continue
    print(value)

소
호랑이
용
뱀
--------------------------------------------------
소
호랑이
용
뱀

In [60]:
for value in str_list:
    if value not in ['쥐', '토끼']:
        print(value)

소
호랑이
용
뱀

In [64]:
#(8) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18
dan = int(input("단을 입력하시오: "))
for i in range(1, 10):
    print(f"{dan} X {i} = {dan*i}")

단을 입력하시오: 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [69]:
dan = int(input('단을 입력하시오: '))
for i in range(1,10):
    print(f'{dan} x {i} = {dan*i}')

단을 입력하시오: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [87]:
#구구단 표
for num in range(1,10):
    for dan in range(1,10):
        print(f"{dan} x {num} = {dan*num}", end = "\t")  #end = " " 복습
    print()

1 x 1 = 1	2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
1 x 2 = 2	2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
1 x 3 = 3	2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
1 x 4 = 4	2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
1 x 5 = 5	2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
1 x 6 = 6	2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
1 x 7 = 7	2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
1 x 8 = 8	2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
1 x 9 = 9	2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

In [67]:
#컴프리헨션

#(9) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

[value*2 for value in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [88]:
result = []
for i in lst:
    result.append(i*2)

print(result)

[20, 60, 140, 10, 240, 1400, 2, 70]

In [89]:
[i*2 for i in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [90]:
#(10) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

[(v, v*10) for v in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [91]:
[(i, i*10) for i in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

(10 , 100)
(30 , 300)
(70 , 700)
(5 , 50)
(5 , 50)
(120 , 1200)
(700 , 7000)
(1 , 10)
(35 , 350)
(35 , 350)

In [98]:
#(11) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
[value for value in lst2 if value % 3 == 0]

[3, 33, 21, 33, 60, 120]

In [99]:
[i for i in lst2 if i % 3 ==0]

[3, 33, 21, 33, 60, 120]

In [97]:
result = []
for i in lst2:
    if i % 3 ==0:
        result.append(i)
        
print(result)

[3, 33, 21, 33, 60, 120]

In [100]:
#(12) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

[file for file in file_name if file.endswith('.exe')]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [111]:
result = []
for file in file_name:
    if file.endswith('.exe'):
        result.append(file)
        
print(result)

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [ ]:
file for file in file_name if file.endswith('.exe')

In [106]:
for file in file_name:
    print(file.endswith('.exe'))

False
True
False
True
True
False
False
True
False

In [137]:
#(13) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[file for file in file_name if len(file) >= 10]

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [140]:
result = []
for file in file_name:
    if len(file) >= 10:
        result.append(file)
        
print(result)

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [141]:
[file for file in file_name if len(file) >= 10]

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [142]:
#(14) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]
[value for value in str_list if value.islower()]

['c', 'g', 'h', 'k']

In [145]:
result = []
for value in str_list:
    if value.islower():
        result.append(value)
        
print(result)

['c', 'g', 'h', 'k']

In [146]:
[value for value in str_list if value.islower()]

['c', 'g', 'h', 'k']