# 정렬
## index이름, column 이름을 기준으로 정렬

- <b style='font-size:1.2em'>sort_index(axis=0, ascending=True, inplace=False)</b>
    - axis
        - index 이름 기준 정렬(행) : 'index' 또는 0 (기본값)
        - column 이름 기준 정렬(열) : 'columns' 또는 1
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경

In [3]:
import pandas as pd

df = pd.read_csv("data/movie.csv", index_col = "movie_title")

df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [8]:
df.sort_index(axis = 'columns')
df.sort_index(axis = 1, ascending= True)

,actor_1_facebook_likes,actor_1_name,actor_2_facebook_likes,actor_2_name,actor_3_facebook_likes,actor_3_name,aspect_ratio,budget,cast_total_facebook_likes,color,...,gross,imdb_score,language,movie_facebook_likes,movie_imdb_link,num_critic_for_reviews,num_user_for_reviews,num_voted_users,plot_keywords,title_year
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,1000.0,CCH Pounder,936.0,Joel David Moore,855.0,Wes Studi,1.78,237000000.0,4834,Color,...,760505847.0,7.9,English,33000,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,723.0,3054.0,886204,avatar|future|marine|native|paraplegic,2009.0
Pirates of the Caribbean: At World's End,40000.0,Johnny Depp,5000.0,Orlando Bloom,1000.0,Jack Davenport,2.35,300000000.0,48350,Color,...,309404152.0,7.1,English,0,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,302.0,1238.0,471220,goddess|marriage ceremony|marriage proposal|pi...,2007.0
Spectre,11000.0,Christoph Waltz,393.0,Rory Kinnear,161.0,Stephanie Sigman,2.35,245000000.0,11700,Color,...,200074175.0,6.8,English,85000,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,602.0,994.0,275868,bomb|espionage|sequel|spy|terrorist,2015.0
The Dark Knight Rises,27000.0,Tom Hardy,23000.0,Christian Bale,23000.0,Joseph Gordon-Levitt,2.35,250000000.0,106759,Color,...,448130642.0,8.5,English,164000,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,813.0,2701.0,1144337,deception|imprisonment|lawlessness|police offi...,2012.0
Star Wars: Episode VII - The Force Awakens,131.0,Doug Walker,12.0,Rob Walker,NaN,NaN,NaN,NaN,143,NaN,...,NaN,7.1,NaN,0,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,637.0,Eric Mabius,470.0,Daphne Zuniga,318.0,Crystal Lowe,NaN,NaN,2283,Color,...,NaN,7.7,English,84,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,1.0,6.0,629,fraud|postal worker|prison|theft|trial,2013.0
The Following,841.0,Natalie Zea,593.0,Valorie Curry,319.0,Sam Underwood,16.00,NaN,1753,Color,...,NaN,7.5,English,32000,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,43.0,359.0,73839,cult|fbi|hideout|prison escape|serial killer,NaN
A Plague So Pleasant,0.0,Eva Boehnke,0.0,Maxwell Moody,0.0,David Chandler,NaN,1400.0,0,Color,...,NaN,6.3,English,16,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,13.0,3.0,38,NaN,2013.0
Shanghai Calling,946.0,Alan Ruck,719.0,Daniel Henney,489.0,Eliza Coupe,2.35,NaN,2386,Color,...,10443.0,6.3,English,660,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,14.0,9.0,1255,NaN,2012.0
My Date with Drew,86.0,John August,23.0,Brian Herzlinger,16.0,Jon Gunn,1.85,1100.0,163,Color,...,85222.0,6.6,English,456,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,43.0,84.0,4285,actress name in title|crush|date|four word tit...,2004.0

df.sort_index()  #행이름

In [12]:
df.sort_index()  #행이름
df.sort_index(ascending= False)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Æon Flux,Color,Karyn Kusama,178.0,93.0,45.0,352.0,Sophie Okonedo,9000.0,25857987.0,Action|Sci-Fi,...,532.0,English,USA,PG-13,62000000.0,2005.0,460.0,5.5,2.35,0
xXx: State of the Union,Color,Lee Tamahori,77.0,101.0,93.0,218.0,Nona Gaye,287.0,26082914.0,Action|Adventure|Crime|Thriller,...,213.0,English,USA,PG-13,87000000.0,2005.0,233.0,4.3,2.35,0
xXx,Color,Rob Cohen,191.0,132.0,357.0,212.0,Eve,14000.0,141204016.0,Action|Adventure|Thriller,...,737.0,English,USA,PG-13,70000000.0,2002.0,223.0,5.8,2.35,10000
eXistenZ,Color,David Cronenberg,196.0,115.0,0.0,716.0,Sarah Polley,1000.0,2840417.0,Horror|Sci-Fi|Thriller,...,527.0,English,Canada,R,31000000.0,1999.0,900.0,6.8,1.85,6000
[Rec] 2,Color,Jaume Balagueró,222.0,85.0,57.0,6.0,Pablo Rosso,37.0,27024.0,Horror,...,148.0,Spanish,Spain,R,5600000.0,2009.0,9.0,6.6,1.85,4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
10 Things I Hate About You,Color,Gil Junger,133.0,97.0,19.0,835.0,Heath Ledger,23000.0,38176108.0,Comedy|Drama|Romance,...,549.0,English,USA,PG-13,16000000.0,1999.0,13000.0,7.2,1.85,10000
10 Days in a Madhouse,Color,Timothy Hines,1.0,111.0,0.0,247.0,Kelly LeBrock,1000.0,14616.0,Drama,...,10.0,English,USA,R,12000000.0,2015.0,445.0,7.5,1.85,26000
10 Cloverfield Lane,Color,Dan Trachtenberg,411.0,104.0,16.0,82.0,John Gallagher Jr.,14000.0,71897215.0,Drama|Horror|Mystery|Sci-Fi|Thriller,...,440.0,English,USA,PG-13,15000000.0,2016.0,338.0,7.3,2.35,33000
#Horror,Color,Tara Subkoff,35.0,101.0,37.0,56.0,Balthazar Getty,501.0,NaN,Drama|Horror|Mystery|Thriller,...,42.0,English,USA,Not Rated,1500000.0,2015.0,418.0,3.3,NaN,750

In [14]:
df2 = df.sort_index()
df2.loc["A":"C"]

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
A Beautiful Mind,Color,Ron Howard,205.0,135.0,2000.0,535.0,Austin Pendleton,1000.0,170708996.0,Biography|Drama,...,1171.0,English,USA,PG-13,58000000.0,2001.0,592.0,8.2,1.85,29000
A Beginner's Guide to Snuff,Color,Mitchell Altieri,NaN,87.0,9.0,165.0,Luke Edwards,467.0,NaN,Comedy|Horror|Thriller,...,NaN,English,USA,NaN,NaN,2016.0,258.0,8.7,NaN,8
A Better Life,Color,Chris Weitz,94.0,98.0,129.0,221.0,Eddie 'Piolin' Sotelo,749.0,1754319.0,Drama|Romance,...,81.0,English,USA,PG-13,10000000.0,2011.0,252.0,7.2,1.85,0
A Bridge Too Far,Black and White,Richard Attenborough,56.0,175.0,0.0,14.0,Dirk Bogarde,385.0,50800000.0,Drama|History|War,...,210.0,English,USA,PG,26000000.0,1977.0,232.0,7.4,2.35,0
A Bug's Life,Color,John Lasseter,117.0,95.0,487.0,1000.0,Madeline Kahn,18000.0,162792677.0,Adventure|Animation|Comedy|Family|Fantasy,...,317.0,English,USA,G,120000000.0,1998.0,1000.0,7.2,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
But I'm a Cheerleader,Color,Jamie Babbit,99.0,85.0,91.0,849.0,Clea DuVall,1000.0,2199853.0,Comedy|Drama,...,186.0,English,USA,R,1200000.0,1999.0,1000.0,6.6,1.85,0
Butch Cassidy and the Sundance Kid,Color,George Roy Hill,130.0,110.0,131.0,399.0,Ted Cassidy,640.0,102308900.0,Biography|Crime|Drama|Western,...,309.0,English,USA,M,6000000.0,1969.0,566.0,8.1,2.35,0
Butterfly,Color,Matt Cimber,15.0,108.0,32.0,180.0,June Lockhart,602.0,NaN,Crime|Drama,...,18.0,English,USA,R,NaN,1982.0,427.0,4.5,1.85,76
Butterfly Girl,Color,Cary Bell,NaN,78.0,0.0,0.0,Stacie Evans,0.0,NaN,Documentary,...,1.0,English,USA,NaN,180000.0,2014.0,0.0,8.7,NaN,88
By the Sea,Color,Angelina Jolie Pitt,131.0,122.0,11000.0,188.0,Angelina Jolie Pitt,11000.0,531009.0,Drama|Romance,...,61.0,English,USA,R,10000000.0,2015.0,11000.0,5.3,2.35,0

df.loc["A":"C"]  #정렬 후에 가능

In [18]:
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

## 특정 컬럼(열)의 값을 기준으로 정렬
- <b style='font-size:1.2em'>sort_values(by, ascending, inplace)</b>
    - by
        - **정렬 기준 컬럼이름**을 문자열로 지정
        - 여러 컬럼에 대해 정렬할 경우 리스트에 담아 전달
    - ascending
        - 정렬방식
        - True(기본): 오름차순, False: 내림차순
        - 여러 컬럼에 대해 정렬할 경우 정렬방식도 리스트에 담아 전달
    - inplace
        - 원본에 적용 여부
        - False(기본): 변경한 복사본 반환 
        - True : 원본을 변경
    - 결측치는 방식과 상관없이 마지막에 나온다.

In [20]:
# df.sort_values("duration")
df.sort_values('duration', ascending= False)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Trapped,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0
Carlos,Color,NaN,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,Biography|Crime|Drama|Thriller,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0
"Blood In, Blood Out",Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,Crime|Drama,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000
Heaven's Gate,Color,Michael Cimino,102.0,325.0,517.0,678.0,Sam Waterston,12000.0,1500000.0,Adventure|Drama|Western,...,189.0,English,USA,R,44000000.0,1980.0,849.0,6.8,2.35,1000
The Legend of Suriyothai,Color,Chatrichalerm Yukol,31.0,300.0,6.0,6.0,Chatchai Plengpanich,7.0,454255.0,Action|Adventure|Drama|History|War,...,47.0,Thai,Thailand,R,400000000.0,2001.0,6.0,6.6,1.85,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wolf Creek,Color,NaN,2.0,NaN,NaN,206.0,John Jarratt,511.0,NaN,Drama|Horror|Thriller,...,6.0,English,Australia,NaN,NaN,NaN,457.0,7.1,2.00,954
Karachi se Lahore,Color,Wajahat Rauf,6.0,NaN,3.0,4.0,Ayesha Omar,7.0,NaN,Comedy|Family,...,15.0,Urdu,Pakistan,NaN,1000000.0,2015.0,5.0,7.0,NaN,259
Destiny,Color,Joseph Kosinski,4.0,NaN,364.0,567.0,Lauren Cohan,22000.0,NaN,Action|Adventure|Fantasy|Sci-Fi,...,11.0,English,USA,NaN,NaN,2014.0,4000.0,8.1,NaN,1000
Romantic Schemer,Color,Valentine,NaN,NaN,0.0,NaN,Valentine,17.0,NaN,Romance,...,NaN,English,USA,PG-13,125000.0,2015.0,0.0,5.1,NaN,0
The Naked Ape,Color,Daniel Mellitz,NaN,NaN,0.0,15.0,Chelse Swain,1000.0,NaN,Comedy|Drama,...,3.0,English,USA,NaN,NaN,2006.0,36.0,4.7,NaN,2

In [26]:

df.sort_values(['duration','actor_3_facebook_likes']).head(50)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Shaun the Sheep,Color,NaN,12.0,7.0,NaN,3.0,John Sparkes,45.0,NaN,Animation|Comedy|Family,...,12.0,English,UK,TV-G,NaN,NaN,7.0,8.3,NaN,834
The Touch,Color,Jane Clark,NaN,7.0,23.0,51.0,Traci Dinwiddie,344.0,NaN,Romance|Short,...,NaN,English,USA,NaN,13000.0,2007.0,281.0,5.2,1.85,30
Robot Chicken,Color,NaN,38.0,11.0,NaN,0.0,Seth Green,11.0,NaN,Animation|Comedy,...,75.0,English,USA,TV-MA,NaN,NaN,0.0,7.8,1.33,1000
Vessel,Color,Clark Baker,1.0,14.0,0.0,37.0,Alan Pietruszewski,134.0,NaN,Horror|Sci-Fi|Short|Thriller,...,3.0,English,USA,NaN,NaN,2012.0,93.0,6.2,NaN,14
Wal-Mart: The High Cost of Low Price,Color,Robert Greenwald,56.0,20.0,21.0,0.0,Jon Hunter,0.0,NaN,Documentary,...,70.0,English,USA,Not Rated,1500000.0,2005.0,0.0,6.8,1.85,0
Home Movies,Color,NaN,11.0,22.0,NaN,6.0,Ron Lynch,59.0,NaN,Animation|Comedy|Drama,...,82.0,English,USA,TV-PG,NaN,NaN,11.0,8.2,1.33,526
"Sabrina, the Teenage Witch",Color,NaN,20.0,22.0,NaN,271.0,Soleil Moon Frye,870.0,NaN,Comedy|Family|Fantasy,...,94.0,English,USA,TV-G,3000000.0,NaN,558.0,6.6,1.33,990
Strangers with Candy,Color,NaN,8.0,22.0,NaN,344.0,Amy Sedaris,459.0,NaN,Comedy,...,62.0,English,USA,TV-14,NaN,NaN,396.0,8.1,4.00,558
Rules of Engagement,Color,NaN,8.0,22.0,NaN,402.0,Oliver Hudson,732.0,NaN,Comedy|Romance,...,41.0,English,USA,TV-PG,NaN,NaN,607.0,7.3,1.78,0
It's Always Sunny in Philadelphia,Color,NaN,79.0,22.0,NaN,424.0,Kaitlin Olson,813.0,NaN,Comedy,...,151.0,English,USA,TV-MA,NaN,NaN,547.0,8.8,1.33,0
Anger Management,Color,NaN,26.0,22.0,NaN,676.0,Noureen DeWulf,883.0,NaN,Comedy|Romance,...,54.0,English,USA,NaN,NaN,NaN,701.0,6.7,16.00,0
"10,000 B.C.",NaN,Christopher Barnard,NaN,22.0,0.0,NaN,NaN,5.0,NaN,Comedy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,NaN,0
Sonny with a Chance,Color,NaN,5.0,23.0,NaN,218.0,Tiffany Thornton,254.0,NaN,Comedy|Family|Romance,...,47.0,English,USA,TV-G,NaN,NaN,248.0,6.1,1.33,325
Star Wars: The Clone Wars,Color,NaN,47.0,23.0,NaN,265.0,James Arnold Taylor,668.0,NaN,Action|Adventure|Animation|Drama|Fantasy|Sci-Fi,...,73.0,English,USA,TV-PG,NaN,NaN,296.0,7.9,2.35,2000
Lovesick,Color,NaN,3.0,24.0,NaN,44.0,Johnny Flynn,381.0,NaN,Comedy,...,18.0,English,UK,NaN,NaN,NaN,102.0,7.9,NaN,0
Yu-Gi-Oh! Duel Monsters,Color,NaN,6.0,24.0,NaN,NaN,NaN,0.0,NaN,Action|Adventure|Animation|Family|Fantasy,...,51.0,Japanese,Japan,NaN,NaN,NaN,NaN,7.0,NaN,124
A Charlie Brown Christmas,Color,Bill Melendez,43.0,25.0,36.0,27.0,Bill Melendez,39.0,NaN,Animation|Comedy|Family,...,126.0,English,USA,TV-G,150000.0,1965.0,36.0,8.4,1.33,0
The Inbetweeners,Color,NaN,15.0,25.0,NaN,220.0,Belinda Stewart-Wilson,229.0,NaN,Comedy|Romance,...,42.0,English,UK,TV-14,NaN,NaN,223.0,8.4,16.00,0
M*A*S*H,Color,NaN,55.0,25.0,NaN,395.0,Jamie Farr,443.0,NaN,Comedy|Drama|War,...,147.0,English,USA,TV-PG,NaN,NaN,421.0,8.4,4.00,0
Bewitched,Black and White,NaN,31.0,25.0,NaN,474.0,Agnes Moorehead,1000.0,NaN,Comedy|Family|Fantasy,...,71.0,English,USA,TV-G,NaN,NaN,960.0,7.6,4.00,0
The Girlfriend Experience,Color,NaN,19.0,27.0,NaN,201.0,Riley Keough,934.0,NaN,Drama,...,17.0,English,USA,TV-MA,NaN,NaN,691.0,7.3,NaN,632
Entourage,Color,NaN,52.0,28.0,NaN,576.0,Kevin Connolly,680.0,NaN,Comedy|Drama,...,145.0,English,USA,TV-MA,NaN,NaN,638.0,8.5,1.78,0
The Doombolt Chase,Color,NaN,NaN,30.0,NaN,9.0,George Coulouris,310.0,NaN,Drama|Family,...,NaN,English,UK,NaN,NaN,NaN,11.0,7.2,NaN,0
Arthur,Color,NaN,3.0,30.0,NaN,12.0,Melissa Altro,51.0,NaN,Animation|Comedy|Family,...,43.0,English,Canada,TV-Y,NaN,NaN,21.0,7.4,1.33,301
The Honeymooners,Black and White,NaN,15.0,30.0,NaN,94.0,Art Carney,491.0,NaN,Comedy|Family,...,31.0,English,USA,NaN,NaN,NaN,154.0,8.7,1.33,459
The Bold and the Beautiful,Color,NaN,1.0,30.0,NaN,140.0,Katherine Kelly Lang,177.0,NaN,Drama|Romance,...,54.0,English,USA,TV-14,NaN,NaN,170.0,3.5,1.78,748
Fired Up,Color,NaN,NaN,30.0,NaN,215.0,Mark Feuerstein,909.0,NaN,Comedy,...,6.0,English,USA,NaN,NaN,NaN,417.0,6.7,1.33,4
Jesse,Color,NaN,NaN,30.0,NaN,223.0,David DeLuise,775.0,NaN,Comedy,...,14.0,English,USA,NaN,NaN,NaN,275.0,5.9,NaN,57
McHale's Navy,Black and White,NaN,4.0,30.0,NaN,253.0,Gavin MacLeod,870.0,NaN,Comedy|War,...,18.0,English,USA,TV-G,NaN,NaN,284.0,7.5,4.00,455
The Powerpuff Girls,Color,NaN,7.0,30.0,NaN,265.0,Jennifer Hale,971.0,NaN,Action|Animation|Comedy|Family|Fantasy|Sci-Fi,...,60.0,English,USA,TV-Y7,NaN,NaN,918.0,7.2,4.00,581
Meet the Browns,Color,NaN,3.0,30.0,NaN,295.0,David Mann,607.0,NaN,Comedy,...,20.0,English,USA,NaN,NaN,NaN,378.0,3.5,1.85,211
Last Man Standing,Color,NaN,4.0,30.0,NaN,359.0,Kaitlyn Dever,995.0,NaN,Comedy,...,87.0,English,USA,TV-PG,NaN,NaN,363.0,7.4,16.00,0
Wings,Color,NaN,19.0,30.0,NaN,424.0,Tim Daly,685.0,NaN,Comedy|Drama,...,56.0,English,USA,NaN,NaN,NaN,511.0,7.3,1.33,1000
Sex and the City,Color,NaN,46.0,30.0,NaN,479.0,Kristin Davis,962.0,NaN,Comedy|Romance,...,238.0,English,USA,TV-MA,NaN,NaN,722.0,7.0,1.33,0
Marilyn Hotchkiss' Ballroom Dancing and Charm School,Color,Randall Miller,1.0,34.0,19.0,362.0,Elden Henson,882.0,333658.0,Comedy|Family|Musical|Romance|Short,...,2.0,English,USA,NaN,34000.0,1990.0,577.0,7.1,NaN,16
Jesus People,Color,Jason Naumann,NaN,35.0,2.0,152.0,Kate Flannery,338.0,NaN,Comedy|Short,...,NaN,English,USA,NaN,NaN,2007.0,219.0,6.9,NaN,0
Evil Dead II,Color,Sam Raimi,252.0,37.0,0.0,199.0,Dan Hicks,634.0,5923044.0,Comedy|Fantasy|Horror|Thriller,...,537.0,English,USA,X,3600000.0,1987.0,328.0,7.8,1.85,0
Bones,Color,NaN,68.0,40.0,NaN,476.0,T.J. Thyne,1000.0,NaN,Comedy|Crime|Drama|Mystery|Romance,...,173.0,English,USA,TV-14,NaN,NaN,722.0,7.9,1.78,0
Sea Rex 3D: Journey to a Prehistoric World,Color,Ronan Chapalain,7.0,41.0,0.0,0.0,Guillaume Denaiffe,55.0,4074023.0,Documentary,...,4.0,English,UK,NaN,5000000.0,2010.0,0.0,6.9,1.78,89
The Border,Color,NaN,1.0,41.0,NaN,2.0,Marian Dziedziel,70.0,NaN,Action|Crime|Drama|Thriller,...,2.0,Polish,Poland,NaN,NaN,NaN,2.0,7.4,NaN,64
Perception,Color,NaN,26.0,42.0,NaN,376.0,Eric McCormack,1000.0,NaN,Crime|Drama|Mystery|Thriller,...,29.0,English,USA,TV-14,NaN,NaN,440.0,7.5,16.00,0
12 Monkeys,Color,NaN,13.0,42.0,NaN,442.0,Kirk Acevedo,757.0,NaN,Adventure|Drama|Mystery|Sci-Fi|Thriller,...,56.0,English,USA,TV-14,NaN,NaN,641.0,7.6,16.00,12000
Empire,Color,NaN,22.0,42.0,NaN,496.0,Gabourey Sidibe,912.0,NaN,Drama|Music,...,92.0,English,USA,TV-14,NaN,NaN,906.0,7.8,16.00,14000
Limitless,Color,NaN,7.0,42.0,NaN,535.0,Mary Elizabeth Mastrantonio,766.0,NaN,Crime|Drama|Sci-Fi|Thriller,...,131.0,English,USA,TV-14,NaN,NaN,638.0,7.9,16.00,11000
Dolphins and Whales 3D: Tribes of the Ocean,Color,Jean-Jacques Mantello,9.0,42.0,0.0,NaN,Daryl Hannah,844.0,7518876.0,Adventure|Documentary|Short,...,5.0,English,UK,NaN,6000000.0,2008.0,0.0,6.5,1.78,28
"Gone, Baby, Gone",Color,NaN,NaN,43.0,NaN,211.0,Jenni 'Jwoww' Farley,341.0,NaN,Comedy|Drama|Reality-TV|Romance,...,NaN,English,NaN,TV-14,NaN,NaN,230.0,6.6,1.33,0
Constantine,Color,NaN,12.0,43.0,NaN,218.0,Matt Ryan,1000.0,NaN,Drama|Fantasy|Horror|Thriller,...,94.0,English,USA,TV-14,NaN,NaN,560.0,7.5,16.00,10000
Secrets and Lies,Color,NaN,5.0,43.0,NaN,298.0,Indiana Evans,562.0,NaN,Crime|Drama,...,27.0,English,USA,NaN,NaN,NaN,560.0,7.7,16.00,2000
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
Rush Hour,Color,NaN,5.0,43.0,NaN,452.0,Aimee Garcia,778.0,NaN,Action|Comedy|Crime,...,30.0,English,USA,TV-14,NaN,NaN,618.0,5.8,16.00,0

In [28]:
df.sort_values(['duration','actor_3_facebook_likes'], ascending=([True, False])).head(50)[['duration','actor_3_facebook_likes']]

,duration,actor_3_facebook_likes
movie_title,,
The Touch,7.0,51.0
Shaun the Sheep,7.0,3.0
Robot Chicken,11.0,0.0
Vessel,14.0,37.0
Wal-Mart: The High Cost of Low Price,20.0,0.0
Anger Management,22.0,676.0
It's Always Sunny in Philadelphia,22.0,424.0
Rules of Engagement,22.0,402.0
Strangers with Candy,22.0,344.0
"Sabrina, the Teenage Witch",22.0,271.0
Home Movies,22.0,6.0
"10,000 B.C.",22.0,NaN
Star Wars: The Clone Wars,23.0,265.0
Sonny with a Chance,23.0,218.0
Lovesick,24.0,44.0
Yu-Gi-Oh! Duel Monsters,24.0,NaN
Bewitched,25.0,474.0
M*A*S*H,25.0,395.0
The Inbetweeners,25.0,220.0
A Charlie Brown Christmas,25.0,27.0
The Girlfriend Experience,27.0,201.0
Entourage,28.0,576.0
Sex and the City,30.0,479.0
Wings,30.0,424.0
Last Man Standing,30.0,359.0
Meet the Browns,30.0,295.0
The Powerpuff Girls,30.0,265.0
McHale's Navy,30.0,253.0
Jesse,30.0,223.0
Fired Up,30.0,215.0
The Bold and the Beautiful,30.0,140.0
The Honeymooners,30.0,94.0
Arthur,30.0,12.0
The Doombolt Chase,30.0,9.0
Marilyn Hotchkiss' Ballroom Dancing and Charm School,34.0,362.0
Jesus People,35.0,152.0
Evil Dead II,37.0,199.0
Bones,40.0,476.0
The Border,41.0,2.0
Sea Rex 3D: Journey to a Prehistoric World,41.0,0.0
Limitless,42.0,535.0
Empire,42.0,496.0
12 Monkeys,42.0,442.0
Perception,42.0,376.0
Dolphins and Whales 3D: Tribes of the Ocean,42.0,NaN
Defiance,43.0,600.0
Revolution,43.0,576.0
Rush Hour,43.0,452.0
The Following,43.0,319.0
Secrets and Lies,43.0,298.0

# flights.csv (항공기 운항 기록 데이터)
- MONTH : 비행 월
- DAY : 비행 일
- WEEKDAY : 비행 요일 - 1(월요일)~7(일요일)
- AIRLINE : 항공사 코드
     - UA:	United Air Lines Inc.
     - AA:	American Airlines Inc.
     - US:	US Airways Inc.
     - F9:	Frontier Airlines Inc.
     - B6:	JetBlue Airways
     - OO:	Skywest Airlines Inc.
     - AS:	Alaska Airlines Inc.
     - NK:	Spirit Air Lines
     - WN:	Southwest Airlines Co.
     - DL:	Delta Air Lines Inc.
     - EV:	Atlantic Southeast Airlines
     - HA:	Hawaiian Airlines Inc.
     - MQ:	American Eagle Airlines Inc.
     - VX:	Virgin America
- ORG_AIR : 출발공항
- DEST_AIR : 도착공항
- SCHED_DEP : 출발예정시각
- DEP_DELAY : 출발지연시간(분)
- AIR_TIME : 비행시간(분)
- DIST : 비행거리(마일)
- SCHED_ARR : 도착예정시각
- ARR_DELAY : 도착지연시간(분) (음수 : 빨리온것, 양수 : 지연시간)
- DIVERTED : 회항여부(1: True, 0: False)
- CANCELLED : 취소여부(1: True, 0: False)

In [29]:
import pandas as pd

In [30]:
df = pd.read_csv("data/flights.csv")
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58492 entries, 0 to 58491
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MONTH      58492 non-null  int64
 1   DAY        58492 non-null  int64
 2   WEEKDAY    58492 non-null  int64
 3   AIRLINE    58492 non-null  object
 4   ORG_AIR    58492 non-null  object
 5   DEST_AIR   58492 non-null  object
 6   SCHED_DEP  58492 non-null  int64
 7   DEP_DELAY  57659 non-null  float64
 8   AIR_TIME   57474 non-null  float64
 9   DIST       58492 non-null  int64
 10  SCHED_ARR  58492 non-null  int64
 11  ARR_DELAY  57474 non-null  float64
 12  DIVERTED   58492 non-null  int64
 13  CANCELLED  58492 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 6.2+ MB

In [33]:
df.isna().sum() #확인은 해보야겠지만 결측치가 똑같으면 똑같이 작용함.

MONTH           0
DAY             0
WEEKDAY         0
AIRLINE         0
ORG_AIR         0
DEST_AIR        0
SCHED_DEP       0
DEP_DELAY     833
AIR_TIME     1018
DIST            0
SCHED_ARR       0
ARR_DELAY    1018
DIVERTED        0
CANCELLED       0
dtype: int64

In [38]:
df['AIRLINE'].value_counts()

AIRLINE
DL    10601
AA     8900
WN     8418
UA     7792
OO     6588
EV     5858
MQ     3471
US     1615
NK     1516
F9     1317
VX      993
AS      768
B6      543
HA      112
Name: count, dtype: int64

In [42]:
df['AIRLINE'].unique()

array(['WN', 'UA', 'MQ', 'AA', 'F9', 'EV', 'OO', 'NK', 'US', 'AS', 'DL',
       'VX', 'B6', 'HA'], dtype=object)

In [43]:
df["AIRLINE"].nunique()

14

# 기술통계 메소드들을 이용한 데이터 집계
## 주요 기술통계 메소드

|함수|설명|
|-|-|
|**sum()**|합계|
|**mean()**|평균|
|**median()**|중위수|
|**mode()**|최빈값|
|**quantile()**|분위수|
|**std()**|표준편차|
|**var()**|분산|
|**count()**|결측치를 제외한 원소 개수|
|**min()**|최소값|
|**max()**|최대값|
|**idxmax()**|최대값 index|  numpy에선 문자열도 계산 가능
|**idxmin()**|최소값 index|             ''
|**unique()**|고유값|
|**nunique()**|고유값의 개수|

<center><b style='font-size:1.2em'>cf) value_counts()는 Series에만 사용할 수 있다.</b></center>

- DataFrame에 위의 기술 통계 메소드들을 적용할 경우 **컬럼별로 계산한다.**
- sum(), mode(), max(), min(), unique(), nunique(), count()는 **문자열에 적용가능하다.**
    - idxmax(), idxmin() 는 문자열 컬럼에 사용할 수 없다. (문자열의 경우 넘파이의 argmax(), argmin() 함수를 사용한다.)

- **공통 매개변수**
    - skipna=True(기본값)
        - 결측치(NA)를 포함해서 계산할지 여부 설정.
        - True가 기본값으로 결측치(NA)를 제외하고 처리한다. 
        - 결측치 제외하지 않으려면 skipna=False로 설정하는데 결측치가 있으면 결과는 결측치가 된다.
    - axis
        - DataFrame에 적용할 때 계산방향을 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계

In [52]:
df.sum(numeric_only = True)   #numeric_only = True : 숫자형(정수, 실수들) 컬럼만 계산.

MONTH          363858.0
DAY            918447.0
WEEKDAY        229690.0
SCHED_DEP    81186009.0
DEP_DELAY      629705.0
AIR_TIME      6662879.0
DIST         51057671.0
SCHED_ARR    90627495.0
ARR_DELAY      334057.0
DIVERTED          137.0
CANCELLED         881.0
dtype: float64

In [54]:
# 평균. df.mean() 숫자형만 가능 -> numeric_only 쓰셈
df.mean(numeric_only = True)

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY      10.921192
AIR_TIME      115.928576
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY       5.812315
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [57]:
df.idxmax(numeric_only= True)  #인덱스중 제일 큰값.

MONTH        53361
DAY           4886
WEEKDAY        489
SCHED_DEP      127
DEP_DELAY    58188
AIR_TIME     57423
DIST          2082
SCHED_ARR      120
ARR_DELAY    58188
DIVERTED       580
CANCELLED       24
dtype: int64

In [58]:
df.mean(numeric_only = True, skipna = False) #na를 스킵한다를 False = 스킵하지 않는다. = na

MONTH           6.220646
DAY            15.702096
WEEKDAY         3.926862
SCHED_DEP    1387.984836
DEP_DELAY            NaN
AIR_TIME             NaN
DIST          872.900072
SCHED_ARR    1549.399832
ARR_DELAY            NaN
DIVERTED        0.002342
CANCELLED       0.015062
dtype: float64

In [60]:
df['ARR_DELAY'] #도착지연시간

0        65.0
1       -13.0
2        35.0
3        -7.0
4        39.0
         ...
58487   -19.0
58488     4.0
58489    -5.0
58490    34.0
58491    -1.0
Name: ARR_DELAY, Length: 58492, dtype: float64

In [61]:
df['ARR_DELAY'].agg(["min", "max"])  #판다스 제공함수 => 문자열로 이름만 전달

min     -60.0
max    1185.0
Name: ARR_DELAY, dtype: float64

In [62]:
df['ARR_DELAY'].agg

<bound method Series.aggregate of 0        65.0
1       -13.0
2        35.0
3        -7.0
4        39.0
         ...
58487   -19.0
58488     4.0
58489    -5.0
58490    34.0
58491    -1.0
Name: ARR_DELAY, Length: 58492, dtype: float64>

In [68]:
import pandas as pd

func = {
    "DEP_DELAY": "mean",
    "AIR_TIME": ["min", "max"],
    "AIRLINE" : "mode"
}

df.agg(func)

      DEP_DELAY AIR_TIME AIRLINE
      DEP_DELAY AIR_TIME    mode
mean  10.921192      NaN     NaN
min         NaN      8.0     NaN
max         NaN    577.0     NaN
0           NaN      NaN      DL

In [70]:
df['AIR_TIME'].describe()

count    57474.000000
mean       115.928576
std         71.679591
min          8.000000
25%         61.000000
50%         97.000000
75%        152.000000
max        577.000000
Name: AIR_TIME, dtype: float64

In [71]:
#사용자 정의 집계함수 적용
##컬럼의 max와 min의 차이 계산.
#매개변수는 시리즈로 받고
#반환 값은 집계결과로 받는다.

def min_max_diff(column):
    return column.max() - column.min()

In [72]:
df['AIR_TIME']

0         94.0
1        154.0
2         85.0
3        126.0
4        166.0
         ...
58487    166.0
58488     71.0
58489     46.0
58490    124.0
58491     73.0
Name: AIR_TIME, Length: 58492, dtype: float64

In [73]:
min_max_diff(df['AIR_TIME'])

569.0

In [74]:
df["AIR_TIME"].agg(min_max_diff)

569.0

In [78]:
df['AIR_TIME'].agg(["min", "max", min_max_diff])

min               8.0
max             577.0
min_max_diff    569.0
Name: AIR_TIME, dtype: float64

In [80]:
df.select_dtypes(exclude = 'object').agg(['min', 'max', min_max_diff, "mean"]).T

            min     max  min_max_diff         mean
MONTH       1.0    12.0          11.0     6.220646
DAY         1.0    31.0          30.0    15.702096
WEEKDAY     1.0     7.0           6.0     3.926862
SCHED_DEP   5.0  2359.0        2354.0  1387.984836
DEP_DELAY -24.0  1194.0        1218.0    10.921192
AIR_TIME    8.0   577.0         569.0   115.928576
DIST       67.0  4502.0        4435.0   872.900072
SCHED_ARR   1.0  2359.0        2358.0  1549.399832
ARR_DELAY -60.0  1185.0        1245.0     5.812315
DIVERTED    0.0     1.0           1.0     0.002342
CANCELLED   0.0     1.0           1.0     0.015062

In [82]:
df["AIR_TIME"].agg(lambda col : col.max() - col.min())

569.0

In [85]:
df[["DEP_DELAY", "ARR_DELAY"]].agg(["min", "max"])

     DEP_DELAY  ARR_DELAY
min      -24.0      -60.0
max     1194.0     1185.0

## aggregate(func, axis=0, \*args, \*\*kwargs) 또는 agg(func, axis=0, \*args, \*\*kwargs)
- DataFrame, Series의 메소드로 **집계결과를 다양한 형태로 묶어서 볼 때** 사용한다.
    - **사용자 정의 집계메소드를 사용할 때도 편리하다.**
- **매개변수**
    - func 
        - 집계 함수 지정
            - 함수명/함수리스트 (문자열)
                - 판다스 제공 집계메소드들은 문자열로, 사용자정의 집계함수는 함수 객체로 전달
            - Dictionary : {'집계할컬럼' : 집계함수, ... }
                - 컬럼별로 다른 집계를 할 경우
    - axis
        - DataFrame에 적용할 때 0 방향으로 계산할 지 1 방향으로 계산할지 설정
            - 0 또는 'index' (기본값): 컬럼 방향으로 집계
            - 1 또는 'columns': 행 방향으로 집계
    - \*args, \*\*kwargs 
        - 함수에 전달할 매개변수. 
        - 집계함수는 첫번째 매개변수로 Series를 받는다. 그 이외의 매개변수가 있는 경우.

# Groupby
- 특정 열을 기준으로 같은 값을 가지는 행끼리 묶어서 group화 한다.
- **~~ 별 집계를 할 때** 사용한다. (성별, 직급별, 등급별 ...)
    - Group으로 묶을 기준 열은 범주형타입(category)을 사용한다.
- **구문**
    - `DF.groupby('그룹으로묶을기준컬럼')`
        - DataFrameGroupby 객체를 반환한다.
        - DataFrameGroupby 객체는 어떤 행끼리 묶여있는지 정보를 가진다. 이 객체의 집계함수를 사용하면 그룹별 집계를 할 수 있다.
            - `DataFrameGroupby객체['집계할 컬럼'].집계함수()`
        - groupby에 여러개의 컬럼을 기준으로 나눌 경우 리스트에 묶어서 전달한다.
        - 집계할 컬럼이 여러개인 경우 리스트로 묶어준다.
    - 집계함수
        - 기술통계 함수들
        - agg()/aggregate()
            - 여러 다른 집계함수 호출시(여러 집계를 같이 볼경우)
            - 사용자정의 집계함수 호출시
            - 컬럼별로 다른 집계함수들을 호출할 경우

In [88]:
import numpy as np

In [94]:
import pandas as pd

In [95]:
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [99]:
df.groupby('AIRLINE')

In [100]:
dfgb = df.groupby("AIRLINE")
type(dfgb)

pandas.core.groupby.generic.DataFrameGroupBy

In [101]:
dfgb.mean(numeric_only =True)

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
AIRLINE,,,,,,,,,,,
AA,6.661461,15.570562,3.986966,1340.140449,11.274057,144.259404,1114.347865,1546.960899,5.542661,0.002921,0.017303
AS,6.197917,15.247396,3.941406,1418.269531,1.808594,147.845052,1065.884115,1548.292969,-0.833333,0.000000,0.000000
B6,6.368324,15.788214,4.040516,1512.924494,14.287823,209.412963,1771.882136,1432.889503,8.692593,0.003683,0.001842
DL,6.277332,15.721158,3.913310,1426.563154,7.242450,115.334187,866.448448,1578.735402,0.339691,0.002264,0.003585
EV,6.003926,15.866166,3.927450,1415.510413,9.092625,68.964016,460.237453,1571.798054,7.034580,0.002561,0.024923
F9,6.401670,15.914958,4.007593,1407.121488,14.310398,127.592337,969.593014,1510.177677,13.630651,0.001519,0.007593
HA,5.508929,15.526786,3.750000,959.419643,2.571429,338.288288,2615.178571,1280.714286,4.972973,0.008929,0.000000
MQ,5.970614,15.598963,3.902622,1432.251801,11.094323,61.318346,404.229041,1587.835494,6.860591,0.001441,0.043791
NK,6.602243,15.680739,4.006596,1336.634565,19.514401,135.736878,1047.428100,1398.226913,18.436070,0.003298,0.016491
OO,6.134791,15.651943,3.923345,1426.486794,9.662279,76.010272,511.239375,1573.730267,7.593463,0.003188,0.021554
UA,6.322510,15.697510,3.871535,1357.970739,16.210485,155.650521,1230.918891,1532.871150,7.765755,0.002438,0.011935
US,3.628483,16.079876,4.063777,1289.552941,4.361355,147.686755,1181.226625,1489.131269,1.681105,0.000619,0.013003
VX,6.336354,15.518630,3.924471,1385.110775,8.918946,154.864097,1240.296073,1581.023162,5.348884,0.001007,0.006042
WN,6.298646,15.746971,3.884652,1370.585650,12.639366,107.005897,809.985626,1532.243407,6.397353,0.001782,0.011048

In [103]:
df.groupby('AIRLINE').mean(numeric_only = True)

,MONTH,DAY,WEEKDAY,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
AIRLINE,,,,,,,,,,,
AA,6.661461,15.570562,3.986966,1340.140449,11.274057,144.259404,1114.347865,1546.960899,5.542661,0.002921,0.017303
AS,6.197917,15.247396,3.941406,1418.269531,1.808594,147.845052,1065.884115,1548.292969,-0.833333,0.000000,0.000000
B6,6.368324,15.788214,4.040516,1512.924494,14.287823,209.412963,1771.882136,1432.889503,8.692593,0.003683,0.001842
DL,6.277332,15.721158,3.913310,1426.563154,7.242450,115.334187,866.448448,1578.735402,0.339691,0.002264,0.003585
EV,6.003926,15.866166,3.927450,1415.510413,9.092625,68.964016,460.237453,1571.798054,7.034580,0.002561,0.024923
F9,6.401670,15.914958,4.007593,1407.121488,14.310398,127.592337,969.593014,1510.177677,13.630651,0.001519,0.007593
HA,5.508929,15.526786,3.750000,959.419643,2.571429,338.288288,2615.178571,1280.714286,4.972973,0.008929,0.000000
MQ,5.970614,15.598963,3.902622,1432.251801,11.094323,61.318346,404.229041,1587.835494,6.860591,0.001441,0.043791
NK,6.602243,15.680739,4.006596,1336.634565,19.514401,135.736878,1047.428100,1398.226913,18.436070,0.003298,0.016491
OO,6.134791,15.651943,3.923345,1426.486794,9.662279,76.010272,511.239375,1573.730267,7.593463,0.003188,0.021554
UA,6.322510,15.697510,3.871535,1357.970739,16.210485,155.650521,1230.918891,1532.871150,7.765755,0.002438,0.011935
US,3.628483,16.079876,4.063777,1289.552941,4.361355,147.686755,1181.226625,1489.131269,1.681105,0.000619,0.013003
VX,6.336354,15.518630,3.924471,1385.110775,8.918946,154.864097,1240.296073,1581.023162,5.348884,0.001007,0.006042
WN,6.298646,15.746971,3.884652,1370.585650,12.639366,107.005897,809.985626,1532.243407,6.397353,0.001782,0.011048

In [106]:
#AIRLINE 별 도착 지연시간(ARR_DELAY)의 평균
df.groupby("AIRLINE")['ARR_DELAY'].mean()

AIRLINE
AA     5.542661
AS    -0.833333
B6     8.692593
DL     0.339691
EV     7.034580
F9    13.630651
HA     4.972973
MQ     6.860591
NK    18.436070
OO     7.593463
UA     7.765755
US     1.681105
VX     5.348884
WN     6.397353
Name: ARR_DELAY, dtype: float64

In [109]:
#AIRLINE 별 추발/도착지연시간(DEP_DELAY, ARR_DELAY)평균
df.groupby("AIRLINE")[["DEP_DELAY", "ARR_DELAY"]].mean()

         DEP_DELAY  ARR_DELAY
AIRLINE
AA       11.274057   5.542661
AS        1.808594  -0.833333
B6       14.287823   8.692593
DL        7.242450   0.339691
EV        9.092625   7.034580
F9       14.310398  13.630651
HA        2.571429   4.972973
MQ       11.094323   6.860591
NK       19.514401  18.436070
OO        9.662279   7.593463
UA       16.210485   7.765755
US        4.361355   1.681105
VX        8.918946   5.348884
WN       12.639366   6.397353

##  복수열 기준 그룹핑
- 두개 이상의 열을 그룹으로 묶을 수 있다. 
- groupby의 매개변수에 그룹으로 묶을 컬럼들의 이름을 리스트로 전달한다.

In [118]:
#출발지, 도착지 공항별 출발 지연시간의 평균
df.groupby(['ORG_AIR', 'DEST_AIR'])[["DEP_DELAY","ARR_DELAY"]].mean()

                  DEP_DELAY  ARR_DELAY
ORG_AIR DEST_AIR
ATL     ABE        9.612903   5.967742
        ABQ        7.062500   0.250000
        ABY       22.473684  20.578947
        ACY        7.166667  10.666667
        AEX       11.000000   7.525000
...                     ...        ...
SFO     SNA        8.483051   3.296610
        STL       25.100000  18.100000
        SUN       17.700000  13.900000
        TUS       14.200000  15.550000
        XNA       -3.000000 -28.500000

[1130 rows x 2 columns]

In [120]:
# groupby + agg
df.groupby("AIRLINE")["DEP_DELAY"].agg(["min","max",min_max_diff])

          min     max  min_max_diff
AIRLINE
AA      -15.0   835.0         850.0
AS      -22.0   338.0         360.0
B6      -19.0   348.0         367.0
DL      -17.0   755.0         772.0
EV      -17.0   672.0         689.0
F9      -19.0   852.0         871.0
HA      -24.0   298.0         322.0
MQ      -12.0   342.0         354.0
NK      -16.0   461.0         477.0
OO      -20.0   735.0         755.0
UA      -18.0  1194.0        1212.0
US      -15.0   439.0         454.0
VX      -13.0   253.0         266.0
WN      -14.0   476.0         490.0

In [123]:
df["CANCELLED"].value_counts()

CANCELLED
0    57611
1      881
Name: count, dtype: int64

In [125]:
#항공사 월별 총 취소건수
result = df.groupby(['AIRLINE', 'MONTH'])["CANCELLED"].sum()
result

AIRLINE  MONTH
AA       1         9
         2        51
         3        16
         4         9
         5        13
                  ..
WN       7        11
         8         7
         9         5
         11       11
         12        4
Name: CANCELLED, Length: 149, dtype: int64

In [127]:
result.loc[['AA',"WN"]]

AIRLINE  MONTH
AA       1         9
         2        51
         3        16
         4         9
         5        13
         6        11
         7         9
         8         9
         9         2
         11       11
         12       14
WN       1        12
         2        16
         3         6
         4         9
         5         4
         6         8
         7        11
         8         7
         9         5
         11       11
         12        4
Name: CANCELLED, dtype: int64

## Group 별 집계결과에서 특정 조건의 항목만 조회
- Groupby 집계 후 boolean indexing 처리한다.

In [129]:
#항공사별 취소건수 100건 이상인 항공사만 조회
result = df.groupby("AIRLINE")["CANCELLED"].sum()
result[result >=100]

AIRLINE
AA    154
EV    146
MQ    152
OO    142
Name: CANCELLED, dtype: int64

# 사용자 정의 집계함수를 만들어 적용

## 사용자 정의 집계 함수 정의
- 매개변수
    1. Series 또는 DataFrame을 받을 매개변수(필수)
    2. 필요한 값을 받을 매개변수를 선언한다. (선택)

## agg() 를 사용해 사용자 정의 집계 함수 호출
- DataFrame.agg(func=None, axis=0, \*args, \*\*kwargs)
    - axis : 사용자 정의 함수에 전달할 값들(Series)의 축 지정
- Series.agg(func=None, axis=0, \*args, \*\*kwargs)
    - DataFrame의 agg와 매개변수 구조를 맞추기 위해 axis 지정한다. (kwargs를 이용해 매개변수 전달할 경우 axis는 생략해도 된다. - axis기본값 0을 그냥 쓰면 되므로. - keyword 인자 뒤에 position 인자는 안되서 *args로 값 전달시에는 axis를 지정해야 한다.)
- DataFrameGroupBy.agg(func, \*args, \*\*kwargs) : 
    - axis 지정안함.
    - 사용자 함수에 Series를 group 별로 전달한다.
- SeriesGroupBy.agg(func=None,  \*args, \*\*kwargs)  
    - axis 지정안함
    - 사용자 함수에 Series를 group 별로 전달한다.
  
- \*args, \*\*kwargs는 사용자 정의 함수에 선언한 매개변수가 있을 경우 전달할 값을 전달한다.  
    - 키워드 인자를 이용해 가변인자로 전달하는 것이 편하다.

# pivot_table()
엑셀의 pivot table 기능을 제공하는 메소드.    
분류별 집계(Group으로 묶어 집계)를 처리하는 함수로 group으로 묶고자 하는 컬럼들을 행과 열로 위치시키고 집계값을 값으로 보여준다.    
역할은 `groupby()`를 이용한 집계와 같은데 **여러개 컬럼을 기준으로 groupby 를 할 경우 집계결과를 읽는 것이 더 편하다.(가독성이 좋다)**

> pivot() 함수와 역할이 다르다.   
> pivot() 은 index와 column의 형태를 바꾸는 reshape 함수.

- `DataFrame.pivot_table(values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')`
- **매개변수**
    - **index**
        - 문자열 또는 리스트. index로 올 컬럼들 => groupby였으면 묶었을 컬럼
    - **columns**
        - 문자열 또는 리스트. column으로 올 컬럼들 => groupby였으면 묶었을 컬럼 (index/columns가 묶여서 groupby에 묶을 컬럼들이 된다.)
    - **values**
        - 문자열 또는 리스트. 집계할 대상 컬럼들
    - **aggfunc**
        - 집계함수 지정. 함수, 함수이름문자열, 함수리스트(함수이름 문자열/함수객체), dict: 집계할 함수
        - 기본(생략시): 평균을 구한다. (mean이 기본값)
    - **fill_value, dropna**
        - fill_value: 집계시 NA가 나올경우 채울 값
        - dropna: boolean. 컬럼의 전체값이 NA인 경우 그 컬럼 제거(기본: True)
    - **margins/margins_name**
        - margin: boolean(기본: False). 총집계결과를 만들지 여부.
        - margin_name: margin의 이름 문자열로 지정 (생략시 All)

## 두개의 컬럼을 grouping 해서 집계
- 항공사/출발공항코드 별 취소 총수 (1이 취소이므로 합계를 구한다.)
- 사용컬럼
    - grouping할 컬럼
        - AIRLINE: 항공사
        - ORG_AIR: 출발 공항코드
    - 집계대상컬럼
        - CANCELLED: 취소여부 - 1:취소, 0: 취소안됨
- 집계: sum

In [131]:
df.groupby(["AIRLINE" ,"ORG_AIR"])['CANCELLED'].sum()

AIRLINE  ORG_AIR
AA       ATL         3
         DEN         4
         DFW        86
         IAH         3
         LAS         3
                    ..
WN       LAS         7
         LAX        32
         MSP         1
         PHX         6
         SFO        25
Name: CANCELLED, Length: 114, dtype: int64

In [142]:
df.pivot_table(index = "AIRLINE",            #그룹바이 대상 중 인덱스
               columns = "ORG_AIR",          #그룹바이 대상 중 컬럼
               values = "CANCELLED",         #집계대상 컬럼
               aggfunc = "sum",               #집계함수(defalt : mean)
               margins = True,                #행 / 열 별 총 집계  
               margins_name ='총계',           #margins = TRUE 일때 이름 지정.
#                fill_value = 0                  #결측치 채울 값, na 를 대신할 값.
              )

ORG_AIR   ATL   DEN    DFW   IAH   LAS   LAX   MSP    ORD   PHX   SFO   총계
AIRLINE
AA        3.0   4.0   86.0   3.0   3.0  11.0   3.0   35.0   4.0   2.0  154
AS        0.0   0.0    0.0   0.0   0.0   0.0   0.0    0.0   0.0   0.0    0
B6        NaN   0.0    0.0   NaN   0.0   0.0   NaN    0.0   0.0   1.0    1
DL       28.0   1.0    0.0   0.0   1.0   1.0   4.0    0.0   1.0   2.0   38
EV       18.0   6.0   27.0  36.0   NaN   NaN   6.0   53.0   0.0   NaN  146
F9        0.0   2.0    1.0   0.0   1.0   1.0   1.0    4.0   0.0   0.0   10
HA        NaN   NaN    NaN   NaN   0.0   0.0   NaN    NaN   0.0   0.0    0
MQ        5.0   NaN   62.0   0.0   NaN   0.0   0.0   85.0   NaN   NaN  152
NK        1.0   1.0    6.0   0.0   1.0   1.0   3.0   10.0   2.0   NaN   25
OO        3.0  25.0    2.0  10.0   0.0  15.0   4.0   41.0   9.0  33.0  142
UA        2.0   9.0    1.0  23.0   3.0   6.0   2.0   25.0   3.0  19.0   93
US        0.0   0.0    2.0   2.0   1.0   0.0   0.0    6.0   7.0   3.0   21
VX        NaN   NaN    NaN   NaN   0.0   3.0   NaN    0.0   NaN   3.0    6
WN        9.0  13.0    NaN   NaN   7.0  32.0   1.0    NaN   6.0  25.0   93
총계       69.0  61.0  187.0  74.0  17.0  70.0  24.0  259.0  32.0  88.0  881

In [134]:
df

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

## 3개 이상의 컬럼을 grouping해서 집계
- 항공사/월/출발공항코드 별 취소 총수 
- grouping할 컬럼
    - AIRLINE:항공사
    - MONTH:월
    - ORG_AIR: 출발지 공항
- 집계 대상컬럼
    - CANCELLED: 취소여부
- 집계 : sum

In [144]:
df.groupby(['AIRLINE', 'MONTH', 'ORG_AIR'])['CANCELLED'].sum()

AIRLINE  MONTH  ORG_AIR
AA       1      ATL        0
                DEN        0
                DFW        8
                IAH        0
                LAS        0
                          ..
WN       12     LAS        1
                LAX        2
                MSP        0
                PHX        0
                SFO        0
Name: CANCELLED, Length: 1133, dtype: int64

In [151]:
df.pivot_table(index = ['AIRLINE', 'ORG_AIR']
              ,columns = "MONTH"
              ,values = "CANCELLED"
              ,aggfunc = 'sum'
              ,margins = True      
              )

MONTH                1      2     3     4     5      6     7     8     9  \
AIRLINE ORG_AIR
AA      ATL        0.0    2.0   1.0   0.0   0.0    0.0   0.0   0.0   0.0
        DEN        0.0    1.0   0.0   0.0   2.0    0.0   0.0   0.0   0.0
        DFW        8.0   33.0  13.0   4.0   8.0    7.0   1.0   2.0   1.0
        IAH        0.0    1.0   0.0   0.0   1.0    0.0   0.0   1.0   0.0
        LAS        0.0    2.0   0.0   0.0   0.0    0.0   1.0   0.0   0.0
...                ...    ...   ...   ...   ...    ...   ...   ...   ...
WN      LAX        3.0    2.0   3.0   2.0   1.0    0.0   9.0   4.0   3.0
        MSP        1.0    0.0   0.0   0.0   0.0    0.0   0.0   0.0   0.0
        PHX        0.0    2.0   1.0   1.0   0.0    0.0   1.0   0.0   0.0
        SFO        4.0    5.0   0.0   2.0   2.0    6.0   0.0   2.0   2.0
All              104.0  195.0  94.0  58.0  81.0  100.0  56.0  44.0  17.0

MONTH              11    12  All
AIRLINE ORG_AIR
AA      ATL       0.0   0.0    3
        DEN       0.0   1.0    4
        DFW       3.0   6.0   86
        IAH       0.0   0.0    3
        LAS       0.0   0.0    3
...               ...   ...  ...
WN      LAX       3.0   2.0   32
        MSP       0.0   0.0    1
        PHX       1.0   0.0    6
        SFO       2.0   0.0   25
All              51.0  81.0  881

[115 rows x 12 columns]

# 기타 메소드

## apply() - Series, DataFrame의 데이터 일괄 처리

데이터프레임의 행들과 열들 또는 Series의 원소들에 공통된 처리를 할 때 apply 함수를 이용하면 반복문을 사용하지 않고 일괄 처리가 가능하다.

- DataFrame.apply(함수, axis=0, args=(), \*\*kwarg)
    - 인수로 행이나 열을 받는 함수를 apply 메서드의 인수로 넣으면 데이터프레임의 행이나 열들을 하나씩 함수에 전달한다.
    - 매개변수
        - **함수**: DataFrame의 행들 또는 열들을 전달할 함수
        - **axis**: **0-컬럼(열)을 전달, 1-행을 전달 (기본값 0)**
        - **args**: 함수에 행/열 이외에 전달할 매개변수를 위치기반(순서대로) 튜플로 전달
        - **\*\*kwarg**: 함수에 행/열 이외에 전달할 매개변수를 키워드 인자로 전달
- Series.apply(함수, args=(), \*\*kwarg)
    - 인수로 Series의 원소들을 받는 함수를 apply 메소드의 인수로 넣으면  Series의 원소들을 하나씩 함수로 전달한다.
    - 매개변수
        - **함수**: Series의 원소들을 전달할 함수
        - **args**: 함수에 원소 이외에 전달할 매개변수를 위치기반(순서대로) 튜플로 전달
        - **\*\*kwarg**: 함수에 원소 이외에 전달할 매개변수를 키워드 인자로 전달

apply 메서드( 많이씀 ) 파이썬에서 map 같은 함수.

In [157]:
import numpy as np
df = pd.DataFrame(np.arange(24).reshape(6,4))

In [163]:
df.columns = ['C1', 'C2', 'C3', 'C4']

In [164]:
df

   C1  C2  C3  C4
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23

In [171]:
def func1(value):
    return value +10

In [174]:
df['C1'].apply(func1)

0    10
1    14
2    18
3    22
4    26
5    30
Name: C1, dtype: int64

In [180]:
def fun2(value : "시리즈의 원소", cnt: '더해줄 값'):
    return value + cnt

In [181]:
df['C1'].apply(fun2, cnt =5)

0     5
1     9
2    13
3    17
4    21
5    25
Name: C1, dtype: int64

In [183]:
df["C1"].apply(fun2, cnt =100)

0    100
1    104
2    108
3    112
4    116
5    120
Name: C1, dtype: int64

In [186]:
#df.apply()에 전달할 함수
def func3(series : "하나의 행/열"):
    print(series)
    print("*"*10)

In [187]:
df

   C1  C2  C3  C4
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23

In [191]:
df.apply(func3, axis =1)

C1    0
C2    1
C3    2
C4    3
Name: 0, dtype: int32
**********
C1    4
C2    5
C3    6
C4    7
Name: 1, dtype: int32
**********
C1     8
C2     9
C3    10
C4    11
Name: 2, dtype: int32
**********
C1    12
C2    13
C3    14
C4    15
Name: 3, dtype: int32
**********
C1    16
C2    17
C3    18
C4    19
Name: 4, dtype: int32
**********
C1    20
C2    21
C3    22
C4    23
Name: 5, dtype: int32
**********

0    None
1    None
2    None
3    None
4    None
5    None
dtype: object

In [192]:
def func3(series : "하나의 행/열"):
    return series + 100

In [194]:
df.apply(func3)

    C1   C2   C3   C4
0  100  101  102  103
1  104  105  106  107
2  108  109  110  111
3  112  113  114  115
4  116  117  118  119
5  120  121  122  123

## cut() - 연속형(실수)을 범주형으로 변환
- cut() : 지정한 값을 기준으로 구간을 나눠 그룹으로 묶는다.
    - `pd.cut(x, bins,right=True, labels=None)`
    - 매개변수
        - **x**: 범주형으로 바꿀 대상. 1차원 배열형태(Series, 리스트, ndarray)의 자료구조
        - **bins**: 범주로 나눌때의 기준값(구간경계)들을 리스트로 묶어서 전달한다.
        - **right**: 구간경계의 오른쪽(True-기본)을 포함할지 왼쪽(False)을 포함할지
        - **labels**: 각 구간(범주)의 label을 리스트로 전달
            - 생략하면 범위를 범주명으로 사용한다. (ex: (10, 20], ()-포함안함, []-포함)

In [202]:
np.random.randint(1,100, size = 30)

array([67,  7, 96, 27,  7, 72, 65, 54, 60, 11, 25, 88, 17, 33, 72, 20,  2,
       96, 48, 99,  8,  2, 51, 34, 34, 97, 63,  7, 88, 25])

In [211]:
d = {
    "age" : np.random.randint(1,100 , size = 30),
    "tall" : np.round(np.random.normal(170, 10, size = 30))
}

In [210]:
np.round(np.random.normal(170, 10, size = 30))

array([176., 188., 180., 180., 163., 188., 168., 174., 181., 165., 167.,
       155., 157., 172., 148., 180., 152., 152., 166., 183., 178., 159.,
       170., 165., 183., 169., 176., 173., 166., 169.])

In [212]:
df = pd.DataFrame(d)

In [213]:
df

    age   tall
0    54  166.0
1    11  161.0
2    29  145.0
3    51  174.0
4    60  162.0
5    94  173.0
6    27  163.0
7    11  174.0
8    88  175.0
9    24  175.0
10   16  179.0
11   30  162.0
12   75  172.0
13   13  176.0
14   79  177.0
15   88  173.0
16   49  164.0
17   97  155.0
18   80  149.0
19   81  166.0
20   10  172.0
21   47  171.0
22   45  171.0
23   21  154.0
24   78  152.0
25   27  157.0
26    4  166.0
27   67  168.0
28   74  166.0
29   40  177.0

In [218]:
df['age'].value_counts()

age
27    2
88    2
11    2
54    1
97    1
74    1
67    1
4     1
78    1
21    1
45    1
47    1
10    1
81    1
80    1
79    1
49    1
13    1
75    1
30    1
16    1
24    1
94    1
60    1
51    1
29    1
40    1
Name: count, dtype: int64

In [219]:
df['tall'].value_counts()

tall
166.0    4
174.0    2
162.0    2
173.0    2
175.0    2
172.0    2
171.0    2
177.0    2
155.0    1
157.0    1
152.0    1
154.0    1
149.0    1
176.0    1
164.0    1
161.0    1
179.0    1
163.0    1
145.0    1
168.0    1
Name: count, dtype: int64

In [243]:
a = pd.cut(df['age'],                #범주형으로 만들 대상
        bins =3,                  #정수 : n(3)등분 (최소~최대)
        right =  False,
        labels = ["소", "중", "대"])

In [244]:
a

0     중
1     소
2     소
3     중
4     중
5     대
6     소
7     소
8     대
9     소
10    소
11    소
12    대
13    소
14    대
15    대
16    중
17    대
18    대
19    대
20    소
21    중
22    중
23    소
24    대
25    소
26    소
27    대
28    대
29    중
Name: age, dtype: category
Categories (3, object): ['소' < '중' < '대']

In [245]:
# ex)   (3.9 , 35]
#     3.9 < x <= 35

#( ) : opend (불포함),   [] : closed (포함)

In [247]:
df['나이대'] = a
df

    age   tall 나이대2 나이대
0    54  166.0   청년   중
1    11  161.0  청소년   소
2    29  145.0   청년   소
3    51  174.0   청년   중
4    60  162.0   청년   중
5    94  173.0  노년2   대
6    27  163.0   청년   소
7    11  174.0  청소년   소
8    88  175.0  노년1   대
9    24  175.0   청년   소
10   16  179.0  청소년   소
11   30  162.0   청년   소
12   75  172.0  노년1   대
13   13  176.0  청소년   소
14   79  177.0  노년1   대
15   88  173.0  노년1   대
16   49  164.0   청년   중
17   97  155.0  노년2   대
18   80  149.0  노년1   대
19   81  166.0  노년1   대
20   10  172.0  청소년   소
21   47  171.0   청년   중
22   45  171.0   청년   중
23   21  154.0   청년   소
24   78  152.0  노년1   대
25   27  157.0   청년   소
26    4  166.0  청소년   소
27   67  168.0  노년1   대
28   74  166.0  노년1   대
29   40  177.0   청년   중

In [250]:
df.groupby("나이대")['tall'].mean()

나이대
소    165.333333
중    169.285714
대    166.000000
Name: tall, dtype: float64

In [252]:
df.groupby("나이대")['tall'].values_counts()

AttributeError: 'SeriesGroupBy' object has no attribute 'values_counts'

In [239]:

#나누는 지점을 정의 -> list
bins = [0, 20, 60, 90, 100]
b = pd.cut(df['age'],
           bins = bins,
           labels =['청소년', '청년', '노년1', '노년2']
          )

In [240]:
b

0      청년
1     청소년
2      청년
3      청년
4      청년
5     노년2
6      청년
7     청소년
8     노년1
9      청년
10    청소년
11     청년
12    노년1
13    청소년
14    노년1
15    노년1
16     청년
17    노년2
18    노년1
19    노년1
20    청소년
21     청년
22     청년
23     청년
24    노년1
25     청년
26    청소년
27    노년1
28    노년1
29     청년
Name: age, dtype: category
Categories (4, object): ['청소년' < '청년' < '노년1' < '노년2']

In [242]:
df['나이대2'] = b
df

    age   tall 나이대2
0    54  166.0   청년
1    11  161.0  청소년
2    29  145.0   청년
3    51  174.0   청년
4    60  162.0   청년
5    94  173.0  노년2
6    27  163.0   청년
7    11  174.0  청소년
8    88  175.0  노년1
9    24  175.0   청년
10   16  179.0  청소년
11   30  162.0   청년
12   75  172.0  노년1
13   13  176.0  청소년
14   79  177.0  노년1
15   88  173.0  노년1
16   49  164.0   청년
17   97  155.0  노년2
18   80  149.0  노년1
19   81  166.0  노년1
20   10  172.0  청소년
21   47  171.0   청년
22   45  171.0   청년
23   21  154.0   청년
24   78  152.0  노년1
25   27  157.0   청년
26    4  166.0  청소년
27   67  168.0  노년1
28   74  166.0  노년1
29   40  177.0   청년